/* Internote CSS 
/* Styles correspond to js classes for hiding and showing notes.
/* right and left are the fallback selectors if CSS transform is not available. */

.internote {
    font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.4;
    /* cadged from HTML5 boilerplate's visually hidden class  -- not sure how necessary this is? */
    clip: rect(0 0 0 0); 
    padding: 0; 
    border: 0; 
    height: 0;
    /* sets the stage for animating transforms */
    transition: all 400ms ease-in;
    /* sets initial position via transform */
    transform: translate3d(200%, 0, 0);
}


.internote.active {
    /* undoes selectors that keeps something visually hidden, possibly */
    height: auto;
    /* moves note into view */
    transform: translate3d(0, 0, 0);
}


/* Because the freight is a little much on desktop*/
@media only screen and (min-width: 768px) {
    .internote {
        font-family: "Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    }
}